<!-- About Section -->
<section class="about-section">
    <div class="container">
        <div class="about-content">
            <div class="about-text">
                <h2>Nouvil</h2>
                <p>تخصصات برمجية عديدة تقدم أكادمية نوفيل تخصصات برمجية كثيرة و يمكنك تصفح الاكادمية و اختيار التخصص المناسب لك و دراسته بالمجان.</p>
                <div class="about-details">
                    <h3>ما هي نوفيل؟</h3>
                    <p>نوفيل هو كيان تم تأسيسه بهدف تعليم البرمجة اون لاين بالمجان ففهي هذه الاكادمية توجد دورات تعليمية كثيرة سواء مكتوبة او مرئية او الاثنين بالاضافة الى بنك اسئلة في اغلب لغات البرمجة يساعد هذا الطالب في فهم مادته البرمجية بشكل كبير , هنا يوجد تخصصات كثيرة مثل الويب فرونت اند و باك اند كذلك يوجد اساسيات البرمجة التي تهدف الى تأسيس الطالب في البرمجة و غيرها من التخصصات المهمة.</p>
                </div>
            </div>
        </div>
    </div>
</section>