<!-- Problem Solving Section -->
<section class="problem-solving-section" id="problem-solving">
    <div class="container">
        <div class="section-header">
            <div class="problem-icon">
                <img src="../assets/brain.png" alt="Problem Solving" class="brain-icon">
            </div>
            <h2 class="section-title">Quizzes</h2>
        </div>
        <div class="quiz-categories">
            <div class="quiz-category">
                <h3>Python Quizzes</h3>
                <p>يمكنك الاختيار بين انواع التحديات الموجودة في البايثون و يمكنك تحدي نفسك في كل جزئية على حدى حيث تم تقسيم التحديات من الاسهل للأصعب حيث تستطيع تحديد مستوى الاختبار المناسب لك</p>
            </div>
            <div class="quiz-category">
                <h3>Javascript Quizzes</h3>
                <p>يمكنك الاختيار بين انواع التحديات الموجودة في الجافاسكريبت و يمكنك تحدي نفسك في كل جزئية على حدى حيث تم تقسيم التحديات بطريقة رائعة تساعد المستخدم على الفهم بشكل جيد</p>
            </div>
            <div class="quiz-category">
                <h3>C Quizzes</h3>
                <p>يمكنك الاختيار بين انواع التحديات الموجودة في لغة الـ c و يمكنك تحدي نفسك في كل جزئية على حدى حيث تم تقسيم التحديات بطريقة رائعة تساعد المستخدم على الفهم بشكل جيد</p>
            </div>
            <div class="quiz-category">
                <h3>C++ Quizzes</h3>
                <p>يمكنك الاختيار بين انواع التحديات الموجودة في c++ و يمكنك تحدي نفسك في كل جزئية على حدى حيث تم تقسيم التحديات بطريقة رائعة تساعد المستخدم على الفهم بشكل جيد</p>
            </div>
            <div class="quiz-category">
                <h3>HTML Quizzes</h3>
                <p>اكثر من 35 سؤال في لغة html باللغة العربية لكي يتمكن الطالب العربي الذي ينوي دخول عالم الويب من تثبيت كل ما تعلمه من html في رأسه</p>
            </div>
            <div class="quiz-category">
                <h3>CSS Quiz</h3>
                <p>اكثر من 10 اسئلة في لغة css باللغة العربية لكي يتمكن الطالب العربي الذي ينوي دخول عالم الويب من تثبيت كل ما تعلمه من css في رأسه</p>
            </div>
        </div>
    </div>
</section>